<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sc_gazebo)/urdf/sc0.urdf.xacro'"/>
    <!--<param name="robot_description" command="$(find xacro)/xacro &#45;&#45;inorder '$(find my_robot_description)/urdf/robot.urdf'"/>-->

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sc_gazebo)/rviz/sc_model.rviz"/>
</launch>