<?xml version="1.0"?>

<model>
  <name>apriltags map</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>LI Jinjie</name>
    <email>lijinjie362@outlook.com</email>
  </author>

  <description>
    Example of adding the apriltag picture to a plane
  </description>

</model>
