<?xml version="1.0"?>
<launch>

  <include file="$(find innok_heros_gazebo)/launch/A/cars_A2.launch"/>
  <include file="$(find innok_heros_gazebo)/launch/A/uavs_A3.launch"/>

  <include file="$(find innok_heros_gazebo)/launch/B/cars_B2.launch"/>
  <include file="$(find innok_heros_gazebo)/launch/B/uavs_B3.launch"/>

</launch>
