<?xml version="1.0"?>
<launch>

  <arg name="wheels" default="3"/>	<!-- "3" or "4" -->
  <arg name="tyre_type" default=""/>	<!-- "default" or "tractor" -->

  <!-- Send the Innok Heros URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find innok_heros_description)/urdf/innok_heros_$(arg wheels)w$(arg tyre_type).xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <!-- Config file for Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find innok_heros_description)/launch/innok_heros.rviz"/>

</launch>
