<?xml version="1.0"?>

<launch>
   <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />
   <group ns="uav1">
      <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
        <arg name="name" value="uav1" />
        <arg name="tf_prefix" value="uav1" />
        <arg name="model" value="$(arg model)" />
        <arg name="x" value="43.75" />
        <arg name="y" value="75.18" />
      </include>
   </group>

   <group ns="uav2">
     <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
       <arg name="name" value="uav2" />
       <arg name="tf_prefix" value="uav2" />
       <arg name="model" value="$(arg model)" />
       <arg name="x" value="44.66" />
       <arg name="y" value="103.51" />
     </include>
   </group>

  <group ns="uav3">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav3" />
      <arg name="tf_prefix" value="uav3" />
      <arg name="model" value="$(arg model)" />
      <arg name="x" value="22.47" />
      <arg name="y" value="92.05" />
    </include>
  </group>

  <group ns="uav4">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav4" />
      <arg name="tf_prefix" value="uav4" />
      <arg name="model" value="$(arg model)" />
      <arg name="x" value="50.47" />
      <arg name="y" value="103.79" />
    </include>
  </group>
   
<group ns="uav5">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="uav5" />
    <arg name="tf_prefix" value="uav5" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="29.26" />
    <arg name="y" value="79.24" />
  </include>
</group>
<group ns="uav6">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="uav6" />
    <arg name="tf_prefix" value="uav6" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="17.43" />
    <arg name="y" value="77.98" />
  </include>
</group>
<group ns="uav7">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="uav7" />
    <arg name="tf_prefix" value="uav7" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="54.81" />
    <arg name="y" value="99.68" />
  </include>
</group>
<group ns="uav8">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="uav8" />
    <arg name="tf_prefix" value="uav8" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="25.06" />
    <arg name="y" value="71.26" />
  </include>
</group>

   
<group ns="uav9">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="uav9" />
    <arg name="tf_prefix" value="uav9" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="12.32" />
    <arg name="y" value="86.1" />
  </include>
</group>
<group ns="uav10">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="uav10" />
    <arg name="tf_prefix" value="uav10" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="23.94" />
    <arg name="y" value="75.8" />
  </include>
</group>


</launch>

