<?xml version="1.0" ?>
<launch>
 <arg name="car_shape" value="red/innok_heros_4wtractor_red.xacro"/>
 <arg name="car_cam" value="red/innok_heros_4wtractor_with_cam_red.xacro"/>
 <group ns="A/car1">
  <include file="$(find innok_heros_gazebo)/launch/spawn_innok_vehicle.launch">
   <arg name="car_name" value="car1"/>
   <arg name="model_name" value="carA1"/>
   <arg name="tf_prefix" value="A"/>
   <arg name="x" value="10"/>
   <arg name="y" value="9"/>
   <arg name="yaw" value="3.14"/>
   <arg name="car_model" value="$(arg car_shape)"/>
  </include>
 </group>
 <group ns="A/car2">
  <include file="$(find innok_heros_gazebo)/launch/spawn_innok_vehicle.launch">
   <arg name="car_name" value="car2"/>
   <arg name="model_name" value="carA2"/>
   <arg name="tf_prefix" value="A"/>
   <arg name="x" value="10"/>
   <arg name="y" value="-9"/>
   <arg name="yaw" value="3.14"/>
   <arg name="car_model" value="$(arg car_shape)"/>
  </include>
 </group>
 <group ns="A/car3">
  <include file="$(find innok_heros_gazebo)/launch/spawn_innok_vehicle.launch">
   <arg name="car_name" value="car3"/>
   <arg name="model_name" value="carA3"/>
   <arg name="tf_prefix" value="A"/>
   <arg name="x" value="20"/>
   <arg name="y" value="0"/>
   <arg name="yaw" value="3.14"/>
   <arg name="car_model" value="$(arg car_shape)"/>
  </include>
 </group>
</launch>
