<?xml version="1.0" ?>
<launch>
 <arg name="model" value="$(find hector_quadrotor_description)/urdf/red/quadrotor_red.gazebo.xacro"/>
 <!-- <arg name="model_cam" value="$(find hector_quadrotor_description)/urdf/red/quadrotor_with_cam_red.gazebo.xacro"/> -->
 <group ns="A/uav1">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
   <arg name="name" value="uavA1"/>
   <arg name="tf_prefix" value="A/uav1"/>
   <arg name="model" value="$(arg model)"/>
   <arg name="x" value="15"/>
   <arg name="y" value="10"/>
   <arg name="yaw" value="3.14"/>
  </include>
 </group>
 <group ns="A/uav2">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
   <arg name="name" value="uavA2"/>
   <arg name="tf_prefix" value="A/uav2"/>
   <arg name="model" value="$(arg model)"/>
   <arg name="x" value="15"/>
   <arg name="y" value="-10"/>
   <arg name="yaw" value="3.14"/>
  </include>
 </group>
</launch>
