<?xml version="1.0"?>
<launch>
    <arg name="uav" default=""/>
    <node pkg="hector_quad_simple_ctrl" type="hector_quad_simple_ctrl_twist_node" name="hector_quad_simple_ctrl_twist_node" output="screen">
        <!-- <remap from="velocity_cmd" to="$(arg uav)/velocity_cmd"/> -->
        <!-- <remap from="velocity_cmd" to="$(arg uav)/velocity_cmd"/> -->
    </node>
</launch>